@font-face {
    font-family: 'Delicious';
    src: url('AVENGEANCE_HEROIC_AVENGER.ttf');
}

.outline.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

#button {
    -fx-font-family: 'Delicious';
    -fx-font-size: 16px;
    -fx-text-fill: white;
}

.label {
    -fx-font-family: "Avengeance";
    -fx-font-size: 32px;
    -fx-text-fill: white;
    -fx-max-width: 100;
}

/* Style for JavaFX Test Object*/
#textObject {
    -fx-font-family: "Avengeance";
    -fx-font-size: 16px;
    -fx-fill: white;
}

.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: derive(gray,80%);
}

.table-cell{
    -fx-background-color: black;
    -fx-text-fill: white;
}
.table-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#managerPane {
    -fx-background: black;
}

.separator .line{
    -fx-border-color: lightslategray;
}

.scroll-bar > corner {
    -fx-background-color:black;
}

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb{
    -fx-background-color: black;
    -fx-border-color: lightslategray;;
    -fx-border-radius: 2 2 2 2
}

.scroll-bar:vertical .track,
.scroll-bar:horizontal .track{
    -fx-background-color:black;
    -fx-border-color:lightslategray;
    -fx-border-width: 3 3 3 3
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button,
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizonal .decrement-button {
    -fx-background-color:black;
}

.scroll-bar:vertical .increment-button > .increment-arrow,
.scroll-bar:vertical .decrement-button > decrement.arrow,
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizonal .decrement-arrow
{
    -fx-background-color:lightslategray;
}